<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />    
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="github" value="https://nuget.pkg.github.com/marcoaoteixeira/index.json" />
        <!-- <add key="myget.org" value="https://www.myget.org/F/nameless/api/v3/index.json" protocolVersion="3" /> -->
    </packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="marcoaoteixeira" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>