<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />    
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/marcoaoteixeira/index.json" />
    </packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="marcoaoteixeira" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>