@model BookSearchParameters

<h1 class="my-4">Filtros</h1>
<form asp-action="Search" asp-controller="Books" method="get">
    <input type="hidden" asp-for="PageIndex" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" placeholder="Ficção" />
    </div>
    <div class="form-group">
        <input asp-for="Owned" />
        <label asp-for="Owned"></label>
    </div>
    <div class="form-group">
        <label asp-for="PageSize"></label>
        <select asp-for="PageSize">
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="100">100</option>
        </select>
    </div>
    <input type="reset" class="btn btn-danger" value="Limpar" />
    <input type="submit" class="btn btn-primary" value="Filtrar" />
</form>
