<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Bem-vindo ao Bookshelf</h1>
        <p>"Bookshelf" é a palavra em inglês para estante de livros. Uma estante de livros é um móvel com prateleiras intervaladas destinado, especialmente,
            à guarda de livros ou papéis. Esse é o objeto físico que acredito que você possue em sua residência.
            Aqui, nesse área virtual, você tem a possibilidade de criar uma "estante de livros" e organizá-los para facilitar sua vida caso necessite saber se
            já possui um livro ou se o emprestou a alguém, por exemplo. Divirta-se.
        </p>
        <div class="row">
            <p>teste</p>
        </div>
    </div>
</div>