@inject IViewLocalizer T

<div class="social-auth-links text-center">
    <p>@T["- OR -"]</p>
    <a href="#" class="btn btn-block btn-primary">
        <i class="fab fa-facebook mr-2"></i>
        @T["Sign up using Facebook"]
    </a>
    <a href="#" class="btn btn-block btn-danger">
        <i class="fab fa-google-plus mr-2"></i>
        @T["Sign up using Google+"]
    </a>
</div>