<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="File"
			archiveAboveSize="32768"
			archiveDateFormat="yyyyMMddHHmm"
			archiveEvery="Sunday"
			archiveFileName="{###}_archive_log.txt"
			archiveNumbering="Date"
			archiveOldFileOnStartup="true"
			archiveOldFileOnStartupAboveSize="32768"
			autoFlush="true"
			bufferSize="32768"
			cleanupFileName="true"
			concurrentWriteAttemptDelay="1"
			concurrentWriteAttempts="10"
			concurrentWrites="true"
			createDirs="true"
			deleteOldFileOnStartup="false"
			enableArchiveFileCompression="false"
			enableFileDelete="false"
			encoding="utf-8"
			fileAttributes="Normal"
			fileName="${basedir}/logs/logfile.txt"
			footer=""
			forceManaged=""
			header=""
			keepFileOpen="true"
			layout="${longdate} ${logger} ${message}${exception:format=ToString}"
			lineEnding="Default"
			maxArchiveDays="7"
			maxArchiveFiles="6"
			name="logfile"
			networkWrites="false"
			openFileCacheSize="5"
			openFileCacheTimeout="true"
			openFileFlushTimeout="0"
			replaceFileContentsOnEachWrite="false"
			writeBom="false"
			writeFooterOnArchivingOnly="false" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>